{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class = article>
        <p class = text>Hola! You are stuck and bored at home because of the pandemic and let me guess you came across netflix. Cut to four months into the lockdown you've watched
        every thing that's there in netflix, amazon or the like. You've watched a movie yesterday and it felt so good that you did'nt want it to end but like all the good things
        it did. Now you want to watch another movie that's exactly like the movie you've watched yesterday. Fret not because you've come to the right place.
        Here's how you are gonna use this. Just follow this simple tutorial to get back in the cinema track
        <ol class = list>
            <li>Click on 'Moviefy' button below to get started</li>
            <li>You are gonna be redirected to a page where you would need to input either one movie or two movies depending upon the variety of movies you want to be recommended</li>
            <li>Boom! you get the recommendations. If you don't like the recommendation or you've already watched it, click on the 'want another one' button to get another one</li>
        </ol></p>
    </div>
    <a href = /inputs><button class="btn btn-primary">Moviefy</button></a>
{% endblock %}