{% extends "layout.html" %}

{% block title %}
    Inputs
{% endblock %}

{% block main %}
<h1>What are your favourite movies?</h1>
<br><br>
    <form action="/inputs" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="title_1" placeholder="title 1" type="text">
        </div>
        <div class="form-group">
            <input autocomplete = "off" class="form-control" name="title_2" placeholder="title 2" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Moviefy!</button>
    </form>
{% endblock %}